.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenu {
  width: 400px;
  height: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
}
